*{
    margin: 5px;
}

.container-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.agregarProducto{
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 90%;
    color: rgb(155, 155, 155);
}

input {
    color: dimgrey;
}

h1 {
    font-size: 3rem;
    margin-top: 40px;
    text-align: center;
}

h2, .btn-regresar {
    margin: 10px;
    margin: 1% 0 1% 3%;
}