<h1>Ver Producto</h1>
<div *ngIf="producto" class="container-productos">
    <h2>{{ producto.nombre }}</h2>
    <mat-list>
        <mat-list-item>
            <div class="ver-producto">
                <mat-icon class="list-icon">layers</mat-icon>
                <span class="list-label">Tamaño del Lote:</span>
                <span class="list-value">{{ producto.tamanoLote }}</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="ver-producto">
                <mat-icon class="list-icon">schedule</mat-icon>
                <span class="list-label">Tiempo de Suministro:</span>
                <span class="list-value">{{ producto.tiempoSuministro }}</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="ver-producto">
                <mat-icon class="list-icon">inventory</mat-icon>
                <span class="list-label">Inventario Disponible:</span>
                <span class="list-value">{{ producto.inventarioDisponible }}</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="ver-producto">
                <mat-icon class="list-icon">security</mat-icon>
                <span class="list-label">Inventario de Seguridad:</span>
                <span class="list-value">{{ producto.inventarioSeguridad }}</span>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class="ver-producto">
                <mat-icon class="list-icon">calendar_today</mat-icon>
                <span class="list-label">Recepciones Programadas:</span>
                <span class="list-value">{{ producto.recepcionesProgramadas }}</span>
            </div>
        </mat-list-item>
    </mat-list>

    <button routerLink="/crear-componente/{{producto._id}}" mat-raised-button color="primary">Crear
        componente</button>
        
    <div *ngIf="producto.componentes && producto.componentes.length > 0" class="container">
        <div *ngFor="let componente of producto.componentes" class="container-datos">
            <div class="datos">
                <strong>Nombre</strong>
                <div class="botones">
                    <p>{{ componente.nombre }}</p>
                </div>
            </div>
            <div class="datos">
                <strong>Cantidad</strong>
                <div class="botones">
                    <p>{{ componente.cantidad }}</p>
                </div>
            </div>
            <div class="datos">
                <strong>Acciones</strong>
                <div class="botones">
                    <button (click)="eliminarComponente(componente._id!)" mat-stroked-button
                        color="warn">Eliminar</button>
                    <button routerLink="/editar-componente/{{producto._id}}/{{componente._id}}" mat-stroked-button
                        color="accent">Editar</button>
                    <button routerLink="/ver-componente/{{producto._id}}/{{componente._id}}" mat-stroked-button
                        color="primary">Ver</button>
                </div>
            </div>
        </div>
    </div>
    <button id="regresar" routerLink="/" mat-stroked-button color="accent">Regresar</button>
</div>