.container {
    max-width: 50%;
margin: auto;

}

.container-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 5% 3% 5%;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productos-titulo {
    display: flex;
    justify-content: center;
}

.botones {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-crear {
    margin: 5%;
    display: flex;
    justify-content: center;
    scale: 1.2;
}

p {
    font-size: 1rem;
}

strong {
    padding: 10px;
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
    margin-top: 40px;
    text-align: center;
}

h2 {
    margin: 10px;
}

button{
    padding: 5px;
}