<h1>Productos</h1>

<button class="btn-crear" mat-raised-button color="primary" routerLink="/crear-producto">Crear nuevo producto</button>

<div class="container">
    <div *ngIf="productos.length > 0">
        <div class="productos-titulo">
            <strong>Productos</strong>
        </div>
        <div *ngFor="let producto of productos; let i = index">
            <div class="container-lista" mat-list-item>
                <div class="lista">
                    <p>{{ producto.nombre }}</p>
                </div>
                <div class="lista">
                    <div class="botones">
                        <button mat-raised-button color="warn"
                            (click)="producto._id && eliminarProducto(producto._id)">Eliminar</button>
                        <button mat-raised-button color="accent"
                            routerLink="/editar-producto/{{producto._id}}">Editar</button>
                        <button mat-raised-button color="primary"
                            routerLink="/ver-producto/{{producto._id}}">Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>